@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.no-session-background {
	background-image: url('/resources/images/main-background.svg');
    background-size: 200vw; 
  	background-position: center center; 
  	background-repeat: no-repeat;
  	margin: 0;
}

.app-main-background {
	background-color: #171D29;
	padding: 0;
	margin: 0;
}

.app-wrapper-background {
	margin: 0 auto 0 auto;
	max-width: 960px;
  	min-height: 100vh;
	border-width: 0px 0.1px;
	border-style: solid;
	border-color: #FFFFFF;
}

.no-session-wrapper {
	margin: 0 auto 0 auto;
	max-width: 1440px;
  	min-height: 100vh;
	border-width: 0px 0.1px;
	border-style: solid;
	border-color: #FFFFFF;
}

.no-session-wrapper .login-logo {
	display: flex;
	align-self: center;
	justify-content: center;
	margin: 0 15%;
	width: 340px;
	height: 350.5px
}

.no-session-wrapper .login-div {
    display: flex;
    justify-content: flex-end;
}

.form-login {
	min-height: 100vh;
	width:60%;
	margin-right: 0;
    text-align: left;
    background-color: #171D29;
}

.form-login * {
	display: block;
	justify-content: center;
}

.form-login .title {
	font-size: 45px;
	font-weight: 600;
	text-align: center;
	
	background-image: -webkit-linear-gradient(left,#5e99e0 0%,#d8e0f0 80%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.form-login .text {
	font-size: 15px;
	font-weight: 300;
	text-align: center;
	margin: 20px 0 30px 0;
}

.form-login .field {
    margin: 15px auto 15px auto;
	height: 40px;
	text-align: center;
	border-radius: 20px;
	background-color: #00000070;
	color: #FFFFFF;
}

.form-login .btn-login {
	display: block;
	margin: 20px auto 0 auto;
	height: 40px;
	border-radius: 20px;
	background-color: #00000070;
	color: #CCCCCC;
}

.signup-footer {
	margin: 30px auto 0 auto;
}

.signup-footer .text {
	margin: 20px 0 5px 0;
}

.signup-footer .signup-link {
	display: block;
	margin: auto;
	padding: auto;
	background: none;
  	border: none;
  	color: #FFFFFF;
  	cursor: pointer;
}

.signup-footer .signup-link:hover {
	display: block;
	margin: auto;
	padding: auto;
	background: none;
  	border: none;
  	color: #FFFFFF;
  	text-decoration: underline;
  	cursor: pointer;
}

/* Welcome Page */

.welcome-page-grid {
	font-family: 'Nunito';
	font-style: normal;
	
   	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto auto;
    grid-gap: 5px;
}

.block-one {
	grid-row: 1;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.block-two {
	background-color: #FFE600;
    grid-row: 2;
    grid-column: 1;
    margin-left: 20%;
}

.block-three {
    background-color: #444725;
    grid-row: 2;
    grid-column: 2;
	margin: 0px 10%;
}

.block-four {
    background-color: #A50F69;
    grid-row: 2;
    grid-column: 3;
	margin-right: 20%;
}
    
.block-five {
    grid-row: 3;
    grid-column: 1 / span 3;
}
    
.welcome-page-grid .block-one .title {
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 64px;
	line-height: 87px;
	
	background: linear-gradient(95.54deg, rgba(172, 187, 200, 0.4) 57.53%, rgba(30, 154, 255, 0.4) 110.48%), rgba(30, 154, 255, 0.71);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.welcome-page-grid .block-one .full-logo {
	justify-content: center;
	width: 340px;
	height: 350.5px;
	margin: 0 auto;
}

.welcome-page-grid div:nth-child(n+2):nth-child(-n+4) {
	font-weight: 400;
	font-size: 25px;
	text-align: center;

	color: #8E7171;
	
	padding: 25px 10px 50px 10px;
	border-radius: 20px;
	box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.welcome-page-grid div:nth-child(n+2):nth-child(-n+4) img {
	display:flex;
	margin: auto;
	margin-bottom: 20px;
	width: 65px;
	height: 65px;
}

.welcome-page-grid div:nth-child(4) span:nth-child(2) {
	display: block;
}

.welcome-page-grid .block-five .button {
	display: block;
	margin: 30px auto;
	height: 70px;
	width: 150px;
	background: #1E9AFF;
	border: 2px solid #000000;
	border-radius: 50px;
	
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 300;
	font-size: 25px;
}

.welcome-page-grid .block-five .button:hover {
	animation: btn-jump 1s;
}

@keyframes btn-jump {
	0% {
	    transform: translateY(0);
  	}
	25% {
	  transform: translateY(-2px);
	}
	50% {
	  transform: translateY(0);
	}
	75% {
	  transform: translateY(-2px);
	}
}